//スライドアニメーション//
// スライド時のアクション
@use '../globals/mixin' as *;

.cover-slide {
    position: relative;
    overflow: hidden;
    margin-bottom: 80vh;
  
    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #696969;
      opacity: 0;
    }
    &.inview {
      &::after {
        opacity: 1;
  
        @include animation(
          $name: kf-cover-slide,
          $duration: 2.5s,
          $timing-function: ease-in-out
        );
      }
    }
  }
  
  @keyframes kf-cover-slide {
    0% {
      transform-origin: left;
      transform: scaleX(0);
    }
    50% {
      transform-origin: left;
      transform: scaleX(1);
    }
    50.1% {
      transform-origin: right;
      transform: scaleX(1);
    }
    100% {
      transform-origin: right;
      transform: scaleX(0);
    }
}
